[DEFAULT]
EngineToUse = MYSQL

[MYSQL]
host   = 127.0.0.1
port   = 3306
dbname = kissf_db
user   = kissf_user
pass   = kissf_pass

;[ORACLE] aún no disponible
;host   = 127.0.0.1
;port   = 1521
;sid    = 
;tns    = 
;user   = 
;pass   = 

;[MONGO] aún no disponible
;host   = 127.0.0.1
;port   = 27017
;dbname = 
;user   = 
;pass   = 